Repository studiometa/create-wordpress-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: NPM Install, Composer Install, PHPCS, PHPStan, ESLint, StyleLint, Prettier Twig

Path conditions:
  NPM Install: any of: package.json, package-lock.json, meta.config.js, .babelrc.js, .eslintrc.js, .postcssrc.js, .prettierrc.js, .stylelintrc.js, tailwind.config.js, .gitlab-ci.yml, web/wp-content/themes/**/*.{js,scss,vue}
  Composer Install: any of: composer.json, composer.lock, phpcs.xml, phpstan.neon, .gitlab-ci.yml, bin/**/*, web/wp-content/{plugins,mu-plugins,themes}/**/*.php
  PHPCS: any of: composer.json, composer.lock, phpcs.xml, phpstan.neon, .gitlab-ci.yml, bin/**/*, web/wp-content/{plugins,mu-plugins,themes}/**/*.php
  PHPStan: any of: composer.json, composer.lock, phpcs.xml, phpstan.neon, .gitlab-ci.yml, bin/**/*, web/wp-content/{plugins,mu-plugins,themes}/**/*.php
  ESLint: any of: package.json, package-lock.json, meta.config.js, .babelrc.js, .eslintrc.js, .postcssrc.js, .prettierrc.js, .stylelintrc.js, tailwind.config.js, .gitlab-ci.yml, web/wp-content/themes/**/*.{js,scss,vue}
  StyleLint: any of: package.json, package-lock.json, meta.config.js, .babelrc.js, .eslintrc.js, .postcssrc.js, .prettierrc.js, .stylelintrc.js, tailwind.config.js, .gitlab-ci.yml, web/wp-content/themes/**/*.{js,scss,vue}
  Prettier Twig: any of: package.json, package-lock.json, meta.config.js, .babelrc.js, .eslintrc.js, .postcssrc.js, .prettierrc.js, .stylelintrc.js, tailwind.config.js, .gitlab-ci.yml, web/wp-content/themes/**/*.{js,scss,vue}

Remove bin scripts
  bin/cleanup-composer-install.sh
  bin/db-export.sh
  bin/db-import.sh
  bin/generate-wp-config.sh
  bin/get-wp-salts.sh
  composer.json
  config/scaffold/wp-config-sample.php
  scripts/get-wp-salts.php
Due: Composer Install, PHPCS, PHPStan

WIP Add post-create-project scripts
  CHANGELOG.md
  README.md
  bin/utils/colors.sh
  composer.json
  package.json
  readme.md
  scripts/set-project-name.php
Due: NPM Install, Composer Install, PHPCS, PHPStan, ESLint, StyleLint, Prettier Twig

Configure the repository on creation
  .env.example
  composer.json
  scripts/create-project.php
  scripts/functions/autoload.php
  scripts/functions/get-name.php
  scripts/functions/get-salts.php
  scripts/functions/random.php
  scripts/functions/run-commands.php
  scripts/functions/update-file.php
  scripts/get-wp-salts.php
  scripts/set-project-name.php
Due: Composer Install, PHPCS, PHPStan

Read project name from its folder
  composer.json
  scripts/create-project.php
  scripts/functions/autoload.php
  scripts/functions/get-name.php
Due: Composer Install, PHPCS, PHPStan

Ignore lock files by default but not after project creation
  .gitignore
  scripts/create-project.php
  scripts/functions/update-file.php
Due: none

Update GitHub actions
  .github/workflows/npm-publish.yml
  .github/workflows/tests.yml
Due: none

Update NPM dependencies
  package.json
Due: NPM Install, ESLint, StyleLint, Prettier Twig

Update Tailwind configuration for v3
  tailwind.config.js
Due: NPM Install, ESLint, StyleLint, Prettier Twig

Switch to modern bundle by default
  meta.config.mjs
Due: none

Build assets
  web/wp-content/themes/studiometa/dist/assets-manifest.json
  web/wp-content/themes/studiometa/dist/css/admin/editor-style.css
  web/wp-content/themes/studiometa/dist/css/admin/editor-style.css.map
  web/wp-content/themes/studiometa/dist/css/app.css
  web/wp-content/themes/studiometa/dist/css/app.css.map
  web/wp-content/themes/studiometa/dist/js/app.js
  web/wp-content/themes/studiometa/dist/js/app.js.map
  web/wp-content/themes/studiometa/dist/js/config.js
  web/wp-content/themes/studiometa/dist/js/config.js.map
  web/wp-content/themes/studiometa/dist/js/pages/front-page.js
  web/wp-content/themes/studiometa/dist/manifest.js
  web/wp-content/themes/studiometa/dist/manifest.js.map
  web/wp-content/themes/studiometa/dist/vendors.js
  web/wp-content/themes/studiometa/dist/vendors.js.map
Due: NPM Install, ESLint, StyleLint, Prettier Twig

Lint Twig files
  web/wp-content/themes/studiometa/templates/organisms/header.twig
  web/wp-content/themes/studiometa/templates/organisms/menu.twig
  web/wp-content/themes/studiometa/templates/pages/index.twig
  web/wp-content/themes/studiometa/templates/pages/search.twig
Due: none

Fix PHPCS command
  phpcs.xml
Due: Composer Install, PHPCS, PHPStan

Fix NPM related tests
  .github/workflows/tests.yml
Due: none

Add lock files
  .gitignore
  composer.lock
  package-lock.json
  scripts/create-project.php
Due: NPM Install, Composer Install, PHPCS, PHPStan, ESLint, StyleLint, Prettier Twig

Use php alias to execute post-create scripts
  composer.json
Due: Composer Install, PHPCS, PHPStan

Improve gitignore rules
  .gitignore
Due: none

Bump version number
  package-lock.json
  package.json
Due: NPM Install, ESLint, StyleLint, Prettier Twig

Update Composer dependencies
  composer.json
  composer.lock
Due: Composer Install, PHPCS, PHPStan

Remove Git remote origin configuration
  scripts/create-project.php
Due: none

Improve salts printing
  scripts/get-wp-salts.php
Due: none

Prevent project creation if already created
  scripts/create-project.php
  scripts/functions/update-file.php
Due: none

Remove `.github` folder on creation
  scripts/create-project.php
Due: none

Remove Babel
  .babelrc.js
  package.json
Due: NPM Install, ESLint, StyleLint, Prettier Twig

Move Browserslist config in package.json
  .browserslistrc
  package.json
Due: NPM Install, ESLint, StyleLint, Prettier Twig

Add @studiometa/ui source files to tailwind.config.js
  template/tailwind.config.js
Due: none

Update changelog
  template/changelog.md
Due: none

Fix path to organisms in the templates
  web/wp-content/themes/studiometa/templates/layouts/base.twig
  web/wp-content/themes/studiometa/templates/organisms/header.twig
  web/wp-content/themes/studiometa/templates/organisms/menu.twig
  web/wp-content/themes/studiometa/templates/organisms/tease-post.twig
  web/wp-content/themes/studiometa/templates/pages/index.twig
  web/wp-content/themes/studiometa/templates/pages/search.twig
Due: none

Fix path of default components with new atomic structure
  template/web/wp-content/themes/<%= slug %>/templates/layouts/base.twig
  template/web/wp-content/themes/<%= slug %>/templates/organisms/header.twig
Due: none

Add a maintenance mode mu-plugins
  template/web/wp-content/mu-plugins/autoload.php
  template/web/wp-content/mu-plugins/studiometa-maintenance-mode/README.md
  template/web/wp-content/mu-plugins/studiometa-maintenance-mode/class-studiometamaintenancemode.php
  template/web/wp-content/mu-plugins/studiometa-maintenance-mode/maintenance.css
  template/web/wp-content/mu-plugins/studiometa-maintenance-mode/maintenance.php
Due: none

Fix maintenance page HTML
  template/web/wp-content/mu-plugins/studiometa-maintenance-mode/maintenance.php
Due: none

Delete manual autoloader
  template/web/wp-content/mu-plugins/autoload.php
Due: none

Add maintenance mode environment variables example to `.env.example` file
  template/.env.example
Due: none

Use Wordpress maintenance mode instead of custom one
  template/web/wp-content/mu-plugins/studiometa-maintenance-mode/README.md
  template/web/wp-content/mu-plugins/studiometa-maintenance-mode/class-studiometamaintenancemode.php
  template/web/wp-content/mu-plugins/studiometa-maintenance-mode/example/maintenance.css
  template/web/wp-content/mu-plugins/studiometa-maintenance-mode/example/maintenance.php
  template/web/wp-content/mu-plugins/studiometa-maintenance-mode/maintenance.css
  template/web/wp-content/mu-plugins/studiometa-maintenance-mode/studiometa-maintenance-mode.php
Due: none

Change method to fetch remote address
  template/web/wp-content/mu-plugins/studiometa-maintenance-mode/studiometa-maintenance-mode.php
Due: none

Update studiometa maintenance mode readme
  template/readme.md
Due: none

Fix code style
  template/web/wp-content/mu-plugins/studiometa-maintenance-mode/studiometa-maintenance-mode.php
Due: none

Update @studiometa/webpack-config package
  meta.config.mjs
  package-lock.json
  package.json
Due: NPM Install, ESLint, StyleLint, Prettier Twig

Update NPM dependencies
  .stylelintrc.js
  meta.config.mjs
  package-lock.json
  package.json
Due: NPM Install, ESLint, StyleLint, Prettier Twig

Add name and version to composer.json
  composer.json
Due: Composer Install, PHPCS, PHPStan
